<!------------------------------------
; Title: Contact HTML
; Author: George Henderson
; Date: 29 August 2021
; Description: Contains the HTML template for the contact component.
------------------------------------>
<div fxLayout="row wrap">
  <mat-card class="mat-elevation-z8" style="width:60%; margin: 10% auto 50px;">
      <div fxFlex>
        <mat-card class="contact-card">
          <mat-card-title class="card-title-icon">
            <mat-icon color="primary">navigation</mat-icon>
          </mat-card-title>
          <br />
          <mat-card-content class="align-center">
            <p>3579 N 22nd Street</p>
            <p>Lincoln, Nebraska</p>
          </mat-card-content>
        </mat-card>
      </div>



      <div fxFlex>
        <mat-card class="contact-card">
          <mat-card-title class="card-title-icon">
            <mat-icon color="primary">phone</mat-icon>
          </mat-card-title>
          <br />
          <mat-card-content class="align-center">
            <p>Direct: 555-555-5555</p>
            <p>Toll-free: 1-888-555-5555</p>
            <p>Fax: 555-555-5555</p>
          </mat-card-content>
        </mat-card>
      </div>

  </mat-card>
</div>

