<!--------------------------------
  ; Title: Confirm-task-dialog component Html
  ; Date: 04 September 2021
  ; Author: George Henderson
  ; Description: Html template for the 'confirm-task-dialog' component.
-------------------------------->

<h1 mat-dialog-title>Delete?</h1>
<mat-dialog-content>
  <p>Are you sure you want to delete the task?</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Yes</button>
</mat-dialog-actions>

