<br>
<div fxLayout="column" style="width: 70%; margin: auto;">
  <div id="missionStatement" class="container" fxFlex fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="center center">
    <h1>Mission statement:</h1>
    <div fxFlex="35%" style="font-size: larger;">
      To make quality systems, helping businesses reach their full potential.
    </div>
  </div>

  <br>
  <hr>
  <br>

  <div fxFlex fxLayout="row" fxLayoutAlign="center center" class="container">

    <!-- Image -->
    <div fxFlex="50%">
        <img id="imgTeam" class="mat-elevation-z8" src="../../../assets/team.jpg" alt="Team at a meeting looking at a board with sticky notes all over">
        <p>
          Image from <a href="https://unsplash.com/photos/Oalh2MojUuk">https://unsplash.com/photos/Oalh2MojUuk</a>
        </p>
    </div>
    <!-- About -->
    <div id="aboutDesc" fxFlex="50%">
          LinTech was founded in 2015 by Gerald Keller where he worked in the industry for 10 years prior. LinTech originally aimed to serve small local businesses, helping them thrive in today’s information age. Since 2015 we have had the privilege to work with several companies building systems for them and helping others to reduce business cost. Having a part in that process brings us a lot of joy, working with companies and seeing great change and establishing these relationships with clients is very important to us. If you would like to reach out to discuss opportunities, please <a routerLink="/contact"> contact us</a>.
    </div>
  </div>
</div>
