<!----------------------------------
; Title: Sign-In HTML
; Date: 18 August 2021
; Author: George Henderson
; Description: HTML template for 'sign-in' component.
----------------------------------->
<div fxLayout="row">

  <div fxFlex *ngIf="error">
    {{ error }}
  </div>

  <mat-card fxFlex="40%" style="margin: 10% auto;">

    <mat-card-title>Employee Sign-in Page</mat-card-title>
    <mat-card-subtitle>You must enter a valid Employee Id to continue</mat-card-subtitle>

    <form [formGroup]="form" (ngSubmit)="login(); form.reset();">

      <mat-card-content>
        <mat-form-field>
          <input matInput [formControl]="form.controls['empId']" placeholder="Employee Id">
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button type="submit" name="signin" mat-raised-button fxFlex color="primary" [disabled]="!form.valid">Submit</button>
      </mat-card-actions>

    </form>


  </mat-card>

</div>
