/*==================================
; Title: Styles
; Author: George Henderson
; Date: 9 August 2021
; Description: Contains the styles for the entire application.
==================================*/
html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: cadetblue;
}
