<div class="container" fxLayout="column">

  <div fxFlex class="img404">

  </div>

  <div fxFlex fxLayoutAlign="row">
    <div fxFlex="40%" style="margin: auto; text-align: center;">
      <h1>Are you lost?</h1>
      <button mat-raised-button color="primary" routerLink="/" >Go Home</button>
    </div>
  </div>

  <div fxFlex="43%">
    <figure>
      <img class="imgChildren" src="../../../assets/404-boyandgirl.png" alt="Boy and girl children pointing into distance">
    </figure>
  </div>
</div>
